　
h1 {
    color: #ffffff;
    background-color: #000000;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
   }
 
p {
    color: black;
    font-size: 20px;
}